<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wazir.build.elemenophee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student.StudentSupport.Chat121.MessageActivity"></activity>
        <activity android:name=".Student.StudentSupport.ChatGroup.GroupChatActivity" />
        <activity android:name=".Student.StudentSupport.MainChatPanel.ChatMainActivity" />
        <activity android:name=".Student.StudentSubscription.StudentSubsActivity" />
        <activity android:name=".Student.StudentProfile.StudentProfileActivity" />
        <activity android:name=".Student.StuCommPanel.Stu_main_comm_screen" />
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".CommunitySection.ComPanActivity"></activity>
        <activity android:name=".PaymentActivity" />
        <activity android:name=".Teacher.TeacherProfile" />
        <activity android:name=".Student.StudentProfile.StudentProfileActivity" />
        <activity android:name=".Student.Community.MainCommScreen" />
        <activity android:name=".Student.Lecture.Subject.ViewVideoListActivity" />
        <activity android:name=".ViewTeacherProfile" />
        <activity android:name=".Student.Lecture.Subject.ViewVideosChapActivity" />
        <activity android:name=".Student.Community.ViewNotesActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpUserActivity" />
        <activity
            android:name=".IntLogSigScreens.OnboardingActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Teacher.viewUploadActivity" />
        <activity
            android:name=".Teacher.videoPlayingActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Teacher.mainDashBoardTeacher"
            android:screenOrientation="portrait"/>
        <activity android:name=".Student.Lecture.Subject.LectureActivity" />
        <activity android:name=".Student.StudentActivity.ClassRoomActivity" />
        <activity android:name=".Student.Videos.VideoActivity" />
        <activity android:name=".Student.StuProfile.ProfileMainActivity" />
        <activity android:name=".Student.StuProfile.EditStuProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Student.StudentMainPanel.StudentMainAct"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_4ic6Rw7DOuG6iR" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ibas.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>